  <!-- Page  Header -->
    <!--  ==============================================================================================================    --> 
      <!-- <div class="row container" style="margin-top: 50px">
        <div class="col 10s center-align">
          <h2>Welcome to The Daily News Scraper!</h2>
          <h4 class="grey-text text-darken-3 lighten-3">We've scraped the web to compile the top news stories of the day for you.</h4>
          <hr>
           <h5 class="grey-text text-darken-3 lighten-3">So go ahead, grab some coffee and browse the articles below. Don't forget to comment should something spark your interest!</h5>
        </div>     
      </div> -->


<!-- Page Content/Scraped-News Cards -->
    <!--  ==============================================================================================================    -->
<!--       <div class="parallax-container">
        <div class="parallax"><img src="../../public/images/coffeeImg.jpg" style="display: block; transform: translate3d(-50%, 0px, 0px);"></div>
      </div> -->
  
      <!-- ////////////// START THE "Section White" SECTION Here - TEXT PORTION OF PAGE BODY ////////////// -->
      <div class="section white">
        <div class="row container">         
          <div class="col s12">
            <h2 class="header center-align">Articles</h2>
          </div>
          
          <!-- ////////////// Card BODY STARTS HERE!! //////////////-->
          {{#each Article_data}} <!-- !! make sure this is the correct object name to call !! -->

            <div class="col s10 offset-s1">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img id="articleImg" class="activator" src= {{this.img}}> <!-- DEFAULT: "/public/images/exampleNewImg.jpg" -->
                </div>
                <!-- Card AbbrvContent!! -->
                <div class="card-content">
                  <span id="articleTitle" class="card-title activator grey-text text-darken-4">{{this.title}} - Card Title<i class="material-icons right">more_vert</i></span>
                  <p>{{this.descriptionShort}} - Short Desription </p>
                  <p><a href="#"> {{this.link}} - Link to the article source.</a></p>
                </div>
                <!-- END of Card AbbrvContent!! -->
                <!-- Main Card Content (Card Reveal Content)!! -->
                <div class="card-reveal">
                  <span id="ExpandArtTitle" class="card-title grey-text text-darken-4"><h3> {{this.title}} - Card Title</h3><i class="material-icons right">close</i></span>
                  <p id="articleDescription"> {{this.descriptionFull}} - Article Description.</p>
                  <hr/>
                  <h3>Comments:</h5>
                  {{#if this.notes}}
                  
                    <p>{{this.0.notes}}</p> 
                    <p>{{this.1.notes}}</p>
                    <p>Wish to see more comments, or even add your own?  Click on the "edit" button to your right to view additional a comment and/or share your note.</p>
                        
                  {{else}}
                    <h5>Be the first to comment.  Click on the "edit" button to your right and share your thoughts!!</h5>>

                  {{/if}}

                 <!--  Card Buttons >> add quote/delete -->
                  <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large red">
                      <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                      <li><a id="deleteNote" class="btn-floating red"><i class="material-icons">clear</i></a></li>
                      <li><a id="editNoteModal" class="btn-floating blue"><i class="material-icons">format_quote</i></a></li>
                    </ul>
                  </div>
                  <!--  End of Card Buttons -->
                </div>
                <!-- End of Card Reveal Content! -->
              </div>       
            </div>

          {{/each}} 
          <!-- /////// Card BODY ENDS HERE!! /////// -->
        </div>
      </div>
      <!-- ////////////// "Section White" ENDS HERE!! ////////////// -->

<!--       <div class="parallax-container">
        <div class="parallax"><img src="../../public/images/coffeepaperImg.jpg" style="display: block;"></div>
      </div>